:root {
  --dynamic-margin-left: 18%; /* Default value */
}
.containeradd {
  margin: 0;
    padding: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #EAEDEF;
   
  } 
  .contentadd{
   
     /* flex: 1;
    display: flex;
    flex-direction: column;  */
    margin-left: var(--dynamic-margin-left);
    padding:0px, 10px;
     background-color: #EAEDEF;
     height: 100%;


  }